
.type-card-container {
    padding: 5vh;
    flex-grow: 0;
    width: 100%;
    margin-bottom: 5vh;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 1vh;
}