.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 1vh;
}

.type-card {
    padding: 5vh;
    flex-grow: 0;
    width: 100%;
    margin-bottom: 5vh;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vh;
}

.title {
    font-size: 1rem;
    color: #888;
}

.subtitle {
    font-size: 0.8rem;
    color: #888;
}


.definition {
    margin-left: 2vh;
}

.input {
    font-size: 0.9rem;
    display: flex;
    width: 100%;
    flex-grow: 0;
    margin-left: 2vh;
    height: 2.5rem;
    padding: 1vh;
    border-radius: 4px;   
}

.correct {
    border: 2px solid green;
}

.incorrect {
    border: 2px solid red;
}